<nav class="navbar navbar-dark bg-dark navPage">
    <div class="div">
        <a class="navbar-brand"><h5>Welcome <%= user.firstName %>!</h5> </a>
        <a class="navbar-brand border-left border-right px-4" href="/home">My Page</a>
        <a class="navbar-brand" href="/wall">The Wall</a>
    </div>

    <form class="form-inline" action="/searchBlog" method="GET">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search" />
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><a href="/"></a>Search</button>
        <a href="/logout" class="btn btn-outline-danger ml-2">Logout</a>
    </form>
</nav>
